@font-face {
    font-family: 'Righteous';
    src: url('~/assets/fonts/Righteous-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ATypewriter';
    src: url('~/assets/fonts/atwriter.ttf') format('truetype');
}